.input-sizer {
  display: inline-grid;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  position: relative;
  
}

.input-sizer.stacked {
  align-items: stretch;
}

.input-sizer.stacked::after,
.input-sizer.stacked textarea {
  grid-area: 1/1;
}

.input-sizer::after,
.input-sizer textarea {
  width: auto;
  font: inherit;
  padding: 0.7rem;
  margin: 0;
  resize: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

.input-sizer::after {
  content: attr(data-value) " ";
  font-size:1;
  visibility: hidden;
  white-space: pre-wrap;
}
