footer {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: flex-start;
  justify-content: space-between;
  width: 576px;
}

footer .links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

footer .links .nav-link {
  margin-bottom: 0.5rem;
}

footer .links .nav-link a {
  font-variant: small-caps;
  font-size:smaller;
  justify-self: flex-end;
  letter-spacing: 0.25rem;
  padding-right: 0.25rem;
  border-right: 1rem solid #dca8bc;
  text-decoration: none;
  color: white;
}
  
footer .links .nav-link a:focus,
footer .links .nav-link a:hover {
  color:#e1779f;
  border-right: 1rem solid #e2075b;
}
