.questionnaire {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #1d3557;
  width: 576px;
}

.questionnaire-editor {
  display: flex;
  flex-direction: column;
}

.questionnaire-question {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  box-shadow: 6px 6px 0px 0px #457b9d;
  border: 2px solid #1d3557;
}

.questionnaire-question p {
  margin:0.7rem;
  text-indent: 0.5rem;
  line-height: 1.5rem;
}

.checkmark {
  position:absolute;
  top: 0.7rem;
  left: -0.9rem;
  padding: 0rem 0.2rem;
  border-radius: 0px;
  border: 2px solid #1d3557;
  background-color: #e4cece;
  color: #d94141;
  font-weight: 800;
}

.checkmark.answered {
  background-color: #3ac265;
  color: white;
}

.questionnaire-question .icon {
  font-size: x-large;
  padding: 0.125rem 0 0.125rem 0;
  display: flex;
  align-items: center;
}

.questionnaire-question textarea:focus,
.questionnaire-question textarea:hover {
  outline: none !important;
  box-shadow: 0 0 10px 2px black;
}

.questionnaire .complete-button {
  background-color: #a4c3b2;
  color: #f6fff8;
  border: 0;
  box-shadow: none;
}

.questionnaire .complete-button {
  background-color: #d1f6cc;
  color: #1d3557;
  font-size: x-large;
  border: 2px solid #1d3557;
  border-radius: 4px;
  box-shadow: 6px 6px 0px 0px #457b9d;
  align-self: center;
  margin-top: 2rem;
  width: 20%;
}

.questionnaire .complete-button:focus,
.questionnaire .complete-button:hover {
  background-color: #3ac265;
  color: #d1f6cc;
  cursor: pointer;
}

.questionnaire .complete-button:focus,
.questionnaire .complete-button:hover {
  outline: none !important;
  box-shadow: 1px 1px 10px 2px black;
}
