#template-editor {
  display: flex;
  flex-direction: column;
}

#template-questions {
  display: flex;
  flex-direction: column;
}

.template-question {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  border-radius: 0;
  box-shadow: 6px 6px 0px 0px #457b9d;
  border: 2px solid #1d3557;
}

.template-question .icon {
  font-size: x-large;
  padding: 0.125rem 0 0.125rem 0;
  display: flex;
  align-items: center;
}

.template-question textarea {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

/* Action buttons */
.template-question .action-button {
  background-color: #a4c3b2;
  color: #f6fff8;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.template-question .action-button {
  background-color: #e4cece;
  color: #d94141;
}

.template-question .action-button:focus,
.template-question .action-button:hover {
  background-color: #e13131;
  color: #e4cece;
}

.new-template-question .action-button {
  background-color: #d1f6cc;
  color: #3ac265;
}

.new-template-question .action-button:focus,
.new-template-question .action-button:hover {
  background-color: #3ac265;
  color: #d1f6cc;
}

/* Focusable item highlights */
textarea:focus,
button:focus,
button:hover,
.action-button:hover,
.auto-grow > textarea:hover {
  outline: none !important;
  box-shadow: 0 0 10px 2px black;
}


