
#root { /* Top-most flex container */
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  
}

.applicant {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding: 1rem; */
}

.applicant-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: fit-content;
  background-color: #f1faee;
  color: #1d3557;
}

.applicant-header header {
  display: flex;
  flex-direction: row;
  flex-basis: 576px;
  justify-content: space-between;
}

.applicant-header header .application-title {
  margin-top: 2rem;
  font-size: 3rem;
  font-family: Tahoma, sans-serif;
  font-variant: small-caps;
  font-weight: 700;
}

.applicant-header header .nav-link {
  flex-shrink: 1;
  align-self: flex-end;
  margin-bottom: 1rem;
  font-variant: small-caps;
  letter-spacing: 0.5rem;
  border-right: 1rem solid #a8dadc;
}

.applicant-header header .nav-link a {
  text-decoration: none;
}
  
.applicant-header header .nav-link:focus,
.applicant-header header .nav-link:hover {
  border-right: 1rem solid #e63946;
  
}

.applicant-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: #f1faee;
  color: #1d3557;
}

.applicant-content main {
  display: flex;
  flex-direction: column;
  flex-basis: 576px;
}

.applicant-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: #1d3557;
  color: #f1faee;
  min-height: 200px;
}

.applicant-footer footer {
  display: flex;
  flex-basis: 576px;
}
