
#root { /* Top-most flex container */
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  background-color: #cce3de;
  
}

.applicant {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  border: 2px solid #6b9080;
  color: #6b9080;
  background-color: #eaf4f4;
}

header {
  display: flex;
  align-self: center;
}

main {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 100%;
  align-self: center;
  
}

main div.navigation {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .applicant {
    flex-basis: 576px;
    /* border: 1px solid black; */
  }
}
